{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Confirm Sample Pairs</h1>
    <hr>
    {% if proj %}
        <p>{{ "Proj = {}".format(proj.proj) }}</p>
    {% endif %}
    {% if dat %}
        <pre>{{ dat }}</pre>
    {% endif %}
    {% if pairs %}
        <pre>{{ pairs }}</pre>
    {% endif %}
    {% if junk %}
        <pre>{{ junk }}</pre>
    {% endif %}
    {% for p in pairs %}
        <br>{{ "{} and {}".format(p[0],p[1]) }}
    {% endfor %}
    <hr><br>
    <div class="row">
        <div class="col-md-4">
            {{ form.submit() }}
        </div>
    </div>
{% endblock %}
