{% extends "base.html" %}

{% block app_content %}
    <h1>DECLIS Portal</h1>
    <br>
    <p>Introductory exposition ...</p>

    <br><h3>View Results</h3>
    <ul>
      <li><a href="/sequencing">Browse Results</a></li>
      <li><a href="/search">Find Results</a></li>
      <li><a href="/chems">Chemical Structures</a></li>
    </ul><br>

    <br><h3>Upload Data</h3>
    <ul>
      <li><a href="/reg/pairs">Assign ROD pairs</a></li>
      <li>Define Library</li>
      <li>Define Samples</li>
    </ul><br>

    <br><h3>General Parameters</h3>
    <ul>
      <li>Targets</li>
      <li>Building Blocks</li>
      <li>Barcodes</li>
      <li>Primers and Tags</li>
    </ul><br>
{% endblock %}
