{% extends "base.html" %}

{% block app_content %}
    <h1>DECLIS Portal</h1>
    <br>
    <p class="lead">
      SciLifeLab Drug Discovery and Development platform (DDD) <br>
      Generation and validation of a DNA encoded compound library (DP_MCLI_020) <br>
    </p>

    <br><h2>View Results</h2>
    <ul>
      <li><a href="/sequencing">Browse Results</a></li>
      <li><a href="/search">Find Results</a></li>
      <li><a href="/chems">Chemical Structures</a></li>
    </ul><br>

    <br><h2>Upload Data</h2>
    <ul>
      <li><a href="/reg/pairs">Assign ROD pairs</a></li>
      <li>Define Library</li>
      <li>Define Samples</li>
    </ul><br>

    <br><h2>Status</h2>
    <ul>
      <li>Latest Run: {{ seq.proj }} </li>
      <li>Run Date: {{ seq.date }} </li>
    </ul>

{% endblock %}
