{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Select Sequencing Results</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <hr>
    {% if hits %}
    <table width="80%">
        <tr>
            <th>b1</th>
            <th>b2</th>
            <th>b3</th>
            <th>copies</th>
            <th>relative</th>
        </tr>
        {% for hit in hits %}
            <tr>
                {% for i in hit %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% elif enrich %}
        {{ enrich }}
    {% endif %}
{% endblock %}
