{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Select Sequencing Results</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <hr>
    {% if hits %}
        <table class="table table-condensed">
            <tr>
                <th>b1</th>
                <th>b2</th>
                <th>b3</th>
                <th>copies</th>
                <th>normalized</th>
                <th>smiles</th>
            </tr>
            {% for hit in hits %}
                <tr>
                    {% for i in hit %}
                        <td>{{ i }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% elif enrich %}
        <table class="table table-condensed">
            <tr>
                <th>b1</th>
                <th>b2</th>
                <th>b3</th>
                <th>enrichment</th>
                <th>smiles</th>
            </tr>
            {% for hit in enrich %}
                <tr>
                    {% set bb = hit[0].split('_') %}
                    {% for i in bb %}
                        <td>{{ i }}</td>
                    {% endfor %}
                    <td>{{ hit[1] }}</td>
                    <td>{{ hit[2] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
